.App1 {
  text-align: left;
  font-family: 'Roboto';
  background-color: #f7f7f7;;
 border-radius: 20px;
  padding:20px;
  color: black;
  font-size: 20px;
}
.floatright{
  float: right;
  font-family: 'Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif';
  font-size: 16px;
  padding:10px;
}
.App2 {
  background-color:white;
  height: 30px;
  padding: 30px;
  color: black;
  text-align: right;
  font-family: 'Roboto';
}

.App-logo {
   height: 15px;
   padding-left:45%;
   padding-right:50%;
  text-align: center;
  }

.App-header {
  height: 150px;
  padding: 20px;
  color:black;
  text-align: center;
  font-family: 'Roboto';
}

.App-title {
  font-size: 2em;
  font-family: 'Roboto';
}

.App-intro {
  font-size: large;
    font-size: 1sem;
    font-family: 'Roboto';
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Firstdiv
{
  font-family: 'Roboto';
  width: 100%;
  height: 30%;
  background-color: #f7f7f7;
  color:black;
  border: 1px solid rgb(206, 212, 214);
    }
.Thirddiv
{
  font-family: 'Roboto';
  width: 100%;
  height: 75%;
 padding-left:20%;
 padding-right:20%; 
 background-color: #f7f7f7;
  color:black;
}

.primary {
  font-family: 'Roboto';
  height: 35px;
  width:100px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
  color:white;
  letter-spacing: 1px;
  line-height: 20px;
  border: 2px solid rgba(58, 133, 191, 0.75);
  border-radius: 50px;
  background: rgba(58, 133, 191, 0.75);
  transition: all 0.3s ease 0s;
}

.btn-primary:hover {
  font-family: 'Roboto';
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.heartratecomponent{
  font-family: 'Roboto';
  text-align: left;
  font-size: 15px;

}

.divborder{
  font-family: 'Roboto';
  width: 100%;
    padding: 50px;
    border: 1px solid whitesmoke;
    margin: 0;
    height: 100%;
    background-color:white;
}

.dateperiod{
font-size: 25px;
}

